@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  text-transform: uppercase;
  cursor: pointer;
}

.toggle img {
  position: relative;
  width: 50px;
  cursor: pointer;
}

.toggle.active img {
  transform: rotate(90deg);
  width: 40px;
  cursor: pointer;
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;

}


.text{
  position: relative;
  z-index: 10;
  text-shadow:   -1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000, 1px 1px 5px #000;
 
}

.text h2{
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  
}
.text h3{
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p{
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a{
  display: inline-block;
  font-size: 1.3em;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
}

.text a:hover{
  letter-spacing: 3px;
}

.social-img {
  width: 30px;
}
